<header class="header">
  <div class="header__inner">
    <div class="header__brand">
      <img src="/images/logo.svg" alt="WeatherApp logo" class="header__logo" />
      <form class="header__search">
        <input
          type="text"
          class="header__search-input"
          placeholder="Buscar ciudad…"
          aria-label="Search city"
        />
      </form>
    </div>
    <nav class="header__nav">
      <ul>
        <li><a href="#">Menu Item 1</a></li>
        <li><a href="#">Menu Item 2</a></li>
        <li><a href="#">Menu Item 3</a></li>
        <li><a href="#">Menu Item 4</a></li>
      </ul>
    </nav>
  </div>
</header>
