@use 'variables' as *;

@mixin font-face($variant, $weight) {
  @font-face {
    font-family: $font-family;
    src: url('#{$font-path}/#{$font-file}-#{$variant}.woff2') format('woff2');
    font-weight: $weight;
    font-style: normal;
    font-display: swap;
  }
}

@mixin weather-icon {
  font-size: 1.5rem;
  line-height: 1;
}

