@use '../../../styles/abstracts' as *;

.weather-forecast__title {
    margin: 0 0 16px;
    font-weight: 400;
    color: $color-surface;
}

.weather-forecast {
    margin-block: 24px;
    color: $color-text;
}

.weather-forecast__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.weather-forecast__day {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 24px 16px;
    border-radius: 16px;
    background-color: $color-surface;
    @include hover-zoom;
}

.weather-forecast__header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.weather-forecast__icon {
    @include weather-icon;
}

.weather-forecast__weekday {
    color: $color-text-muted;
}

.weather-forecast__temps {
    font-weight: 700;
}

.weather-forecast__rain {
    padding: 2px 12px;
    border-radius: 4px;
    background-color: $color-rain;
}

